<!--/views/wrapper.erb-->

<!DOCTYPE html>
<html>
  <head>
    <title>Rock, Paper, Scissors</title>
  </head>
  <body>
    <div>
      <div>
        <a href="/rock"> Play Rock </a>
      </div>
      <div>
        <a href="/paper"> Play Paper </a>
      </div>
      <div>
        <a href="/scissors"> Play Scissors </a>
      </div>
    </div><%= yield %> <div>
      <a href="/">Rules</a>
    </div>
    </div>
  </body>
</html>
